/* ==========================================================================
   MGo skin
   ========================================================================== */

/* Colors */
$background-color: #eeeeee !default;
$text-color: #000 !default;
$muted-text-color: #000 !default;
$primary-color: #03719cc3 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #03719c !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
    color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
    color: inherit;
}